<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h1 id="jumboHead">
                Eat-Da-Burger!!

            </h1>

        </div>
    </div>
    <div class="row">

        <div class="col-md-5">
            <h3 class="burgerhead">
                Burgers available!
            </h3>
            <p>
                <div>

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devour=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </p>
        </div>

        {{!--
        =============================================================================================================--}}


        <div class="col-md-1 ">

        </div>


        <div class="col-md-5">
            <h3 class="burgerhead">
                Burgers already eaten!
            </h3>
            <div>

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>


        </div>
    </div>

    {{!-- ==================================================ROW FOR ADDING
    BURGER====================================================================== --}}

    <div class="row">
        <div class="col-md-6">
            {{!-- empty --}}
            <p class="burgerhead">
                {{!-- Add a Burger --}}

                <form class="create-update-form" action="burgers/create" method="POST">
                   <div>
                    <p>
                        <button class=" btn-danger btn btn1" type="submit">ADD A BURGER</button>
                    </p>
                   </div>
                    <div class="form-group">
                        <label for="bu">Burger Name:</label>
                        <input type="text" id="bu" name="burger_name" required>
                    </div>


                </form>

        </div>


    </div>
    <div class="col-md-3">

        <div class="col-md-3">
            {{!-- empty bring an image here--}}

        </div>
    </div>


</div>